@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* { 
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter';
    font-size: 18px;
    box-sizing: border-box;
    background-color: #141414;
    color: #fff;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    width: 100%;
}

.logo a{
    font-family: 'Calistoga';
    text-decoration: none;
    font-size: 36px;
    color: #fff;
}

.logo a span.one{
    color: #da7b08;
}

.logo a span.two{
    color: #dfe60f;
}

/* HEADER */

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 20px;
    gap: 50px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;

}

header nav .leftside {
    flex: 1;
    display: flex;
    gap: 30px;
}
header nav li {
    margin: 0 30px;
}
header nav li a {
    text-decoration: none;
    color: #fff;
    transition: .3s;
}
header nav li a:hover {
    color: #999;
}

header nav .button {
    display: block;
    padding: 12px 24px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
header nav .button:hover {
    color: #dfe60f;
    border-color: #da7b08;
    transition: border-color .3s, color .3s;
}

header .small-menu{
    display: none;
    flex: 1;
    justify-content: flex-end;
}

header .menu-icon{
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor:pointer
}
header .menu-icon div{
    height: 6px;
    background-color: #fff;
}
/* HERO */
.hero .container{
    display: flex;
}
.hero .leftside, .hero .rightside{
    flex: 1;
}

.hero .leftside {
    padding-bottom: 150px;
}
.hero .rightside {
    text-align: center;
}
.hero .rightside img {
    width: auto;
    height: 600px;
}

.hero h1 {
    font-family: 'Calistoga', cursive;
    font-size: 56px;
    line-height: 74px;
    margin-top: 50px;
}
.hero p {
    font-size: 20px;
    line-height: 26px;
    font-family: "Inter", sans-serif;
    margin: 40px 0;
    color: #999;
}

.hero .button {
    display: inline-block;
    padding: 14px 32px;
    background-color: #da7b08;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color .3s;
    font-weight: 500;
    text-emphasis: none;
}

.hero .button:hover {
    background-color: #dfe60f;
    color:#141414;
    transition: color .3s;
}

.works {
    background-color: #1f1f1f;
    padding: 80px 0;
    margin-top: -230px;
}
@media (max-width: 820px) {
    header nav {
        display: none;
    }
    header .small-menu{
        display: flex;
    }
    header .logo a{
        font-size: 28px;
    }
    .hero .container{
        flex-direction: column;
        text-align: center;
    }
    .hero .leftside {
        text-align: center;
        padding-bottom: 40px;
    }
    .hero .rightside {
        padding-bottom: 50px;
    }
    .hero .rightside img {
        height: 400px;
    }

    .hero h1 {
        font-size: 36px;
        line-height: 46px;
    }
}